 .select2-selection__rendered {
  line-height: 17px !important;
   font-size:14px !important;
   
}
.select2-results__options{
        font-size:14px !important;
 }
 .select2-container--default .select2-results>.select2-results__options{
    max-height: 500px !important;
}