@charset "ISO-8859-1";
.button-div-style{
	   margin: 1%!important;
}

.hideToast{
	display:none;
}
.border-color{
	border-color: red;
}

.txtUnWrap {
	text-overflow: ellipsis;
    white-space: nowrap;
}

.hideTd{
  display:none;
}

#purchaseDiv{
	height: 400px;
}
#poTable>tbody>tr>td,  #poTable>thead>tr>th {
    padding: 3px 2px!important;
    vertical-align: middle;
}
