@charset "ISO-8859-1";

.content-header-padding{
	padding:2px!important;
}

table>thead>tr>th,table>tbody>tr>td,table>tfoot>tr>td{
padding-top:1px!important;
}

.has-error{  
border-style: solid;
border-color: #ff0000;
}

.border{
border:1px solid #000;
}
 

 .styleOfSlNo{
width: 5%;
text-align: center;
}

 .tfootPos{
 height: 24px!important;
 border-radius:0!important;
 }
.error {
	font-size: 14px;
    color: red;
}

.paddingTbl td{
 	padding: .15em !important;
 }

.faderv2 {
	position: fixed;
	width: 100%;
	height: 150%;
	background: rgba(255, 255, 255, 0.85);
	z-index: 999999;
	display: none;
	top: 0;
}

.loaderv2 {
	background-color: rgba(255, 255, 255, 0);
	padding: 15px;
	position: absolute;
	top: 200px;
	left: 45%;
	border: 3px solid rgba(255, 255, 255, 0);
	z-index: 999999;
	display: none;
}

.loaderv2-message {
	display: inline-block;
	color: white;
	margin-left: 10px;
	font-size: 19px;
}

.loaderv2-gif {
	vertical-align: middle;
	background: url(../images/loader.gif);
	height: 30px;
	width: 30px;
	background-size: 100%;
	display: inline-block;
}

 .text-field-large-nowrap{
 	white-space: nowrap;
 }

 .dropdownAllignTop15{
	position: absolute;
	top: 15px;
	right: 16px;
 }

 .dataTables_wrapper {
 font-size:13px !important;
 }

.custom-box-header-modal {
	color:  #343a40 !important;
	padding: 4px 4px 4px 4px !important;
	background: #4e595f !important;
	background-color: rgba(45, 147, 203, 0.84) !important;
	margin:0;
}

.alignright{
	text-align: right !important;
}

.headerFont{ 
	font-size: 1rem!important;
}
.headerIconFont{
	font-size: 24px!important;
}
.pageHeader{
	padding-top: 7px;
	text-transform: uppercase;
}
.marginLeft7{
	margin-left: 7px!important;
}
.marginLeft30{
	margin-left:30px!important;
}
.dropdownWidth230 + .select2{
	width:230px!important;
}
.dropdownWidth225 + .select2{
	width:225px!important;
}
.dropdownWidth250 + .select2{
	width:250px!important;
}
.fieldwidth150{
	width:150px!important;
}
.dropdownwidth150+ .select2{
	width:150px!important;
}
.clientNamePos{
	top:15px!important;
}
.loaderWidth{
	width: 213px!important;
}
.marginLeft50{
	margin-left:50px!important;
}