
#itemMasterList tr td {
    height: 10px;
    font-size: 13px;
    text-transform: capitalize;
    padding: 10px;
}

#stockList tr td {
    height: 10px;
    font-size: 13px;
   text-transform: capitalize;
    padding: 10px;
}

#stockList_wrapper{
	margin-top: -37px;
}

.clientWidth{
	width:450px;
}
.qtyWidth{
	width:50px;
}
.strNameWidth{
	width:200px;
}
.locInStrWidth{
	width:200px;
}


#supplierList_wrapper{
	margin-top: -37px;
}

#supplierList_wrapper tr td {
    height: 10px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
}
.modal-title{
	line-height: 0px;
	padding: 10px;
	font-size: larger !important;
}
.badge{
	margin-left: 5px;
	color:#337ab7;
	background-color: #fff;
}
.buttonAllign{
	text-align: -webkit-center;
}

.dt-buttons{
	padding-left: 10px !important;
}
.buttons-excel{
	font-size: 12px !important;
}
.button-download{
	margin-top: 4px;
}
.item-master-count-btn{
	width:100%;
	font-size:14px;
	padding:6px 12px;
}
.item-master-count-btn .badge{
	font-size:16px;
}